#!/bin/bash
set -euxo pipefail

echo
echo "### INSTALL ANDROID PLATFORM TOOLS ###"
source ~/.profile
set +o pipefail
yes | mise exec android-sdk -- sdkmanager platform-tools  # {{ include "dot_config/mise/config.toml.tmpl" | sha256sum }}
