#!/bin/bash
set -euxo pipefail

echo
echo "### INSTALL HOMEBREW PACKAGES ###"
set +u
source ~/.profile
set -u

command -v brew || exit 0
brew bundle --global  # {{ include "dot_Brewfile.tmpl" | sha256sum }}
