{{- $fontDir := "" -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $fontDir = "Library/Fonts" -}}
{{- else if eq .chezmoi.os "linux" -}}
{{-   if not (.chezmoi.kernel.osrelease | contains "WSL") -}}
{{-     $fontDir = ".local/share/fonts" -}}
{{-   end -}}
{{- end -}}

{{- if $fontDir }}
{{- range list
      "JetBrainsMonoNerdFont-Medium.ttf"
      "JetBrainsMonoNerdFontMono-Medium.ttf"
      "JetBrainsMonoNerdFont-Bold.ttf"
      "JetBrainsMonoNerdFontMono-Bold.ttf" }}

["{{ $fontDir }}/{{ . }}"]
type = "archive-file"
url = "https://github.com/ryanoasis/nerd-fonts/releases/latest/download/JetBrainsMono.tar.xz"
path = "{{ . }}"
{{- end }}
{{- end }}
