[settings]
experimental = true
python.uv_venv_auto = true
idiomatic_version_file_enable_tools = []

[tools]
"1password" = "latest"
"android-sdk" = "latest"
"aqua:fish-shell/fish-shell" = "latest"
"aqua:openai/codex" = "latest"
"bat" = "latest"
"claude" = "latest"
"colima" = "latest"
"croc" = "latest"
"docker-cli" = "latest"
"eza" = "0.23.4"
"fd" = "latest"
"gh" = "latest"
"github:alexpasmantier/television" = "latest"
"github:docker/buildx" = { version = "latest", rename_exe = "docker-buildx" }
"github:docker/compose" = { version = "latest", rename_exe = "docker-compose" }
"github:FredrikNoren/ungit" = "latest"
"github:MitMaro/git-interactive-rebase-tool" = "latest"
"github:wagoodman/dive" = "latest"
"gron" = "latest"
"helm" = "latest"
"hexyl" = "latest"
"htmlq" = "latest"
"jq" = "latest"
"kubectl" = "latest"
"lima" = "latest"
"node" = "24"
"opencode" = "latest"
"ripgrep" = "latest"
"usage" = "latest"
"uv" = "latest"
"yq" = "latest"
{{ if eq .chezmoi.os "darwin" -}}
"github:docker/docker-credential-helpers" = { version = "latest", matching = "osxkeychain-v", rename_exe = "docker-credential-osxkeychain" }
{{- end }}
